/* NAVBAR + FOOTER CSS */
.me-auto{ /* navbar routing */ 
  font-family: 'Zilla Slab', serif;
}

.bg-dark { /* navbar background color*/ 
  background-color: var(--color-brand) !important;
  padding: 15px;
}

.footerContainer {
  display: block !important;
}

.footerContainer h6 {
  color: var(--color-accent);
}

.footer {
  margin-top: 10px;
  bottom: 0;
  width: 100%; 
}

.footerTitle {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.footerCol {
  padding: 20px;
}

.navbar-brand { /* navbar main title */
  font-family: "Archivo Black", sans-serif;
  color: var(--color-accent);
  font-size: inherit;
}
.navbar-brand:focus, .navbar-brand:hover { 
  color: var(--color-highlight);
}

.nav-link {
  color: var(--color-accent);
  border: var(--color-accent);
}

.nav-link:focus, .nav-link:hover {
  color: var(--color-highlight);
  text-decoration: underline;
}

.navbarButton {
  border-radius: 23px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: var(--color-accent);
  --bs-btn-hover-color: var(--color-brand);
  --bs-btn-hover-bg: var(--color-accent);
  --bs-btn-active-bg: var(--color-accent);
}
.navbar-toggler {
  border: none;
  font-family: 'Zilla Slab', serif;
  color: var(--color-accent);
}

/* header and midsection css -- used on all pages */
.pageHeader {
  color: var(--color-accent);
  background-color: var(--color-brand);
  font-family: 'Zilla Slab', serif;
  text-align: center;
  padding: 83px;
}

.pageMidSection {
  color: var(--color-brand);
  font-family: 'Zilla Slab', serif;
  text-align: center;
  padding: 70px;
}

@media (min-width: 450px) {
  .pageHeader h1 {
    font-size: 3rem;
    letter-spacing: 2px;
  }
}

/* HOME PAGE CSS*/
.homePageContainer {
  padding-bottom: 2rem;
}

.homePageContainerTop {
  margin: 0;
  background-image: url("images/olive\ tree.png");
  max-width: 3000px;
}

.homePageContainerTop .homePageCardBody {
  color: var(--color-background);
}

.homePageCardBody {
  text-align: center;
  font-size: 1rem;
  font-family: 'Zilla Slab', serif;
  color: var(--color-brand);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homePageCard {
  border-color: var(--color-highlight);
  background-color: var(--color-highlight);
  background-image: url("images/olive\ tree.png");
  min-height: 250px;
  border: none;
}

.homePageRecipeCard {
  border-color: var(--color-background);
  background-color: var(--color-background);
}

#homePageRecipeCard {
  border-color: var(--color-background);
  background-color: var(--color-background);
}

.homePageRecipeCard:hover {
  background: var(--color-highlight);
}

@media (max-width: 1200px) {
  .homePageRecipeCardTitle {
    font-size: 0.85rem;
  }
}

/* ABOUT PAGE CSS */
.aboutPageContainer {
  padding: 2rem;
}

.aboutPageCard {
  border: none;
  height: 100%;
}

.aboutPageCol {
  font-family: 'Zilla Slab', serif;
  color:var(--color-brand);
  display: flex;
  margin-bottom: 22px;
  justify-content: center;
  flex-direction: column;
}

.aboutPageCol h2 {
  font-size: 2.5rem;
}

.aboutPageImg {
  border-radius: 300px 300px 25px 25px;
}
/* RECIPE PAGE CSS */

.recipeLPContainer {
  padding-top: 2rem;
  max-width: 1000px;
}

.card {
  border-color: var(--color-brand);
  background-color: var(--color-background);
  --bs-link-color: var(--color-background);
  --bs-link-hover-color: var(--color-brand);
}

.cardLine {
  color:var(--color-brand);
  opacity: 100%;
  margin: 0px;
}

.recipeCardTitle {
  font-family: 'Zilla Slab', serif;
  color:var(--color-brand);
  text-align: center;
}

.recipeCol {
  padding: 13px;
}

.recipePageRecipeCardImg {
  z-index: 1;
}

.recipeOverlay {
  background-color: var(--color-brand);
  border-radius: 25px;
  height: calc( 100% - 114px);
  position: absolute;
  bottom: 0px;
  right: -25px;
  top: 20px;
}


.recipeButton {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-background);
  border-radius: 63px;
  width: 50%;
  align-self: center;
  margin: 17px;

  --bs-btn-hover-bg: var(--color-highlight);
  --bs-btn-hover-border-color: var(--color-brand);
  --bs-btn-hover-color: var(--color-brand);
  --bs-btn-active-color: var(--color-brand);
  --bs-btn-active-bg: var(--color-highlight);
  --bs-btn-active-border-color: var(--color-brand);
}

.recipePagination {
  justify-content: center;
}
/* SUB RECIPE CSS */
.subRecipeIngredientCol {
  font-family: 'Zilla Slab', serif;
  color:var(--color-brand);
  background-color: var(--color-background-contrast);
  border-radius: 25px;
  padding: 30px;
}

.subRecipeCol {
  font-family: 'Zilla Slab', serif;
  color:var(--color-brand);
  margin-top: 10px;
}

.subRecipeCard {
  border: none;
}

.subRecipeImg {
  align-self: center;
  border-radius: 25px;
  max-width: 700px;
  border: 5px solid var(--color-brand);
}

#subRecipeIngredientHeader {
  font-weight: bold;
}

#subRecipeYield {
  padding-top: 23px;
}

#ingredientLists {
  font-size: 1em;
}

/* 404 PAGE CSS */
.pageNotFoundLink:hover {
  color: var(--color-brand);
  background-color: var(--color-background);
  border-color: var(--color-brand);
}
.pageNotFoundLink {
  color: var(--color-background);
  text-decoration: none;
  background-color: var(--color-brand);
  width: fit-content;
  border-radius: 20px;
  border: solid;
  padding: 5px 11px 5px 11px;
}
